.fork-config
*~
node_modules/
cbor/
cli/
cli-utils/
compat/
codec-utils/
compiler/
compiler-utils/
contract-utils/
crypto/
era/
esbuild-plugin/
ir/
ledger/
ledger-allegra/
ledger-alonzo/
ledger-babbage/
ledger-byron/
ledger-conway/
ledger-mary/
ledger-shelley/
rollup-plugin/
tx-utils/
type-utils/
uplc/
vscode-plugin/
